@import "./elemeny-theme/darkTheme.scss";

//【定制主题】

//主题包括两部分，
// 1、皮肤（头部，侧栏,背景色等，需要自己写）
// 2、组件(element-ui组件，通过下边的函数传参生成特定颜色的组件)
// PS:颜色比较网站: http://scg.ar-ch.org/

body {
  //主题色
  // $primaryColor: #28aaff;
  //强调色
  // $emphasizeColor: #50d8ff;

  $primaryColor: #28aaff;
  $emphasizeColor: #50d8ff;

  &.theme-commonDark {
    @include darkTheme($primaryColor, $emphasizeColor);

    background-color: #003468;
    color: rgba(#fff, 0.85);

    //头部定制
    .head-seciton {
      background-color: #003468;

      .header-wrapper {
        .logo {
          img {
            margin-left: 30px;
          }

          span {
            color: #fff;
          }
        }

        .head-right {
          .head-user {
            .user-wrapper {
              .user-img {
                border: 1px solid rgba(#50d8ff, 0.8);
              }
              .user-name {
                color: #fff;
                cursor: pointer;
              }

              & > i {
                color: #fff;
              }
            }
          }

          .header-btns {
            i {
              color: #50d8ff;

              &:hover {
                color: #50d8ff;
                background-color: rgba(#50d8ff, 0.2);
              }

              .el-color-picker__color {
                border: none;
              }
            }
          }
        }
      }
    }

    //侧栏定制

    .layout-container {
      .aside-section {
        background-color: #01284e;
        box-shadow: 2px 0px 8px rgba(#000, 0.1);

        .flex-btn {
          border-bottom: 1px solid rgba(#50d8ff, 0.1);

          & > i {
            color: #50d8ff;
          }
        }

        .aside-sidebar {
          border-right: none;
          background-color: #01284e;
          color: #fff;

          .el-submenu {
            color: #fff;

            .el-submenu__title {
              color: #fff;

              &:focus,
              &:hover {
                background-color: rgba(#50d8ff, 0.2);
              }

              .el-submenu__icon-arrow {
                color: #fff;
              }
            }

            .menu-item {
              &.is-active {
              }
            }

            &.is-opened {
              .el-menu {
                background-color: #01203e;
              }
            }
          }

          .el-menu {
            background-color: #01203e;

            .el-menu-item {
              &:focus,
              &:hover {
                background-color: rgba(#50d8ff, 0.2);
              }

              &:not(.is-active) {
                color: rgba(#fff, 0.5);
              }

              &.is-active {
                // background-color: #384049;
              }
            }
          }
        }
      }

      .main-top {
        background-color: #003468 !important;
        border-bottom: 1px solid rgba(#fff, 0.1) !important;

        .breadcrumb-seciton {
          .el-breadcrumb__inner {
            color: rgba(#fff, 0.5);
          }

          .bread-dec {
            background-color: #50d8ff !important;
          }
        }
      }
    }

    //通用列表页
    section.table-page-section {
      .table-page-wrapper {
        .search-block {
          border-bottom: 1px dashed rgba(#fff, 0.2);
        }

        .btns-block {
          border-bottom: none;
        }
      }
    }

    .Test-template {
      .el-aside {
        background-color: transparent;
      }

      .el-main {
        background-color: transparent;
      }
    }

    //全局功能搜索
    .search-autocomplete {
      .el-autocomplete-suggestion__list {
        li {
          .path {
            color: rgba(#fff, 0.6);
          }
        }
      }
    }

    //第三方组件
    .vue-treeselect {
      .vue-treeselect__control {
        background-color: #00568e;
        border: 1px solid rgba(40, 170, 255, 0.6);
        color: rgba(255, 255, 255, 0.95) !important;

        .vue-treeselect__single-value {
          color: rgba(255, 255, 255, 0.95);
        }
      }
      .vue-treeselect__menu-container {
        .vue-treeselect__menu {
          background-color: #00568e;
          border: 1px solid rgba(40, 170, 255, 0.6);
          color: rgba(255, 255, 255, 0.95) !important;

          div {
            background-color: #0065a8;
          }
        }
      }
    }

    //弹框
    .el-dialog__header {
      border-bottom: 1px solid rgba(#fff, 0.2);
    }
  }
}
